.card {
    width: 100%;
    height: 510px;
    display: flex;
    flex-direction: column;
    position: relative;
    border: 1px solid grey;
    border-radius: 12px;
    margin: 5px;
    justify-content: end;
    .img_poke {
        position: relative;
        width: 170px;
        margin: 0 auto;
        left: 50%;
        transform: translateX(-50%);
    }


    .sub_card {
        
        position: absolute;
        border-radius: 10px;

        min-height: 370px;
        padding: 15px;
        width: 100%;
        margin-top: 10px;
        padding-top: 15px;

    }

    .id_card {
        color: #7682b3;
        width: auto;
        padding: 1px 4px;
        font-size: .85rem;
        border-radius: 5px;
        position: absolute;
        top: 20;
        right: 5%;
        
    }

    .name_card {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #314082;
        margin-top: 8px;
        padding: 1px 4px;
        font-size: 1.5rem;
        text-transform: capitalize;
        display: block;
        font-weight: 900;

    }

    .altura_poke {
        margin-top: 2px;
        font-size: .75rem;
        
        display: flex;
        color: #484848;
        
    }

    .peso_poke {
        margin-top: 2px;
        font-size: .75rem;
        
        display: flex;
        color: #484848;
    }

    .habitad_poke {
        margin-top: 2px;
        font-size: .75rem;
        text-transform: capitalize;
        display: block;
        color: #484848;
        display: flex;
    }

    .stats_poke_about {
        margin-top: 145px;
    }

    .stats_poke {
        margin-top: 15px;
    }

    .div_stats {
        
        margin: 4px 0;
        width: 100%;
        padding: 1px;
        margin-top: 8px;
        font-size: 1.2rem;

        .item_stats {
            display: flex;
            align-items: first baseline;
            .name {
                width: 120px;
                text-transform: capitalize;
                color: #484848;
            }
            .numero {
                width: 22px;
                font-weight: 750;
                color: #1b1a1a;
            }
        }
    }

    .div_hability {
        display: flex;
        margin-left: 20%;
        font-weight: 900;
        color: #1b1a1a;
    }

    .div_type {
        display: flex;
        margin-left: 30%;
        font-weight: 800;
        color: #1b1a1a;
    }

    .div_others_height {
        display: flex;
        margin-left: 28%;
        font-weight: 600;

    }
    .div_others_weight {
        display: flex;
        margin-left: 27%;
        font-weight: 600;
    }
}
